*{
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
    margin: 72px 140px 0px;
}

h1 {
    font-weight: 800;
    font-size: 74px;
}

#controls {
    display: inline-block;
    width: 46%;
    border-right: 1px solid rgba(0, 0, 0, .5);
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50px;
}

.input-group {
    margin: 26px 0;
}

label {
    display: inline-block;
    width: 24%;
    font-weight: 200;
    font-size: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 50px;
}

input {
    width: 50%;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding-left: 6px;
    font-weight: 200px;
    outline: none;
}

input:disabled {
    background-color: white;
    opacity: 0.6;
}

button {
    margin-top: 40px;
    margin-right: 5px;
    padding: 12px 45px;
    background-color: #222;
    color: white;
    border: none;
    outline: none;
}

button:hover {
    opacity: 0.9;
}

button:disabled {
    opacity: 0.3;
}

h2 {
    display: inline-block;
    vertical-align: top;
    padding-top: 100px;
    font-weight: 200;
    font-size: 144px;
    margin: 12px 0px;
    padding-left: 100px;
}

#day {
    text-align: center;
    margin-top: 40px;
    font-size: 50;
    font-weight: 400;
}

#date {
    text-align: center;
    margin-top: 10px;
    font-size: 35;
    font-weight: 200;
}

@media only screen and (max-width: 1300px) {


    *{
        margin: 0;
        border: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
      }
      
      body {
          margin: 72px 60px 0px;
      }
      
      h1 {
          font-weight: 800;
          font-size: 74px;
      }
      
      #controls {
          display: inline-block;
          width: 46%;
          border-right: 1px solid rgba(0, 0, 0, .5);
          margin-top: 50px;
          padding-top: 60px;
          padding-bottom: 60px;
          padding-left: 50px;
      }
      
      .input-group {
          margin: 26px 0;
      }
      
      label {
          display: inline-block;
          width: 24%;
          font-weight: 200;
          font-size: 30px;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-right: 50px;
      }
      
      input {
          width: 50%;
          font-size: 30px;
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, .5);
          padding-left: 6px;
          font-weight: 200px;
          outline: none;
      }
      
      input:disabled {
          background-color: white;
          opacity: 0.6;
      }
      
      button {
          margin-top: 40px;
          margin-right: 5px;
          padding: 12px 45px;
          background-color: #222;
          color: white;
          border: none;
          outline: none;
      }
      
      button:hover {
          opacity: 0.9;
      }
      
      button:disabled {
          opacity: 0.3;
      }
      
      h2 {
          display: inline-block;
          vertical-align: top;
          padding-top: 100px;
          font-weight: 200;
          font-size: 90px;
          margin: 12px 0px;
          padding-left: 100px;
      }
      
      #day {
          text-align: center;
          margin-top: 40px;
          font-size: 50;
          font-weight: 400;
      }
      
      #date {
          text-align: center;
          margin-top: 10px;
          font-size: 35;
          font-weight: 200;
      }



}















